<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Paintings</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'app/css/style1.css'%}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">



  <div class="w3-top">
    <div class="w3-row w3-padding w3-black">
      <div class="w3-col s4">
        <a href="{% url 'home' %}" class="w3-button w3-block w3-black">HOME</a>
      </div>
      <div class="w3-col s4">
        <a href="{% url 'home' %}" class="w3-button w3-block w3-black">ABOUT</a>
      </div>
      <div class="w3-col s4">
        <a href="{% url 'home' %}" class="w3-button w3-block w3-black">MENU</a>
      </div>
      
    </div>
  </div>

<div class="w3-main" >

  







  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1>Paintings</b></h1>
    <div class="w3-section w3-bottombar w3-padding-1">
      <span class="w3-margin-right">Filter:</span> 
      <button class="w3-button w3-black">ALL</button>
      <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Painting Portfolio</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Museum Painting</button>

    </div>
    </div>
  </header>
  
 
  <div class="w3-row-padding">
    <h2>Painting Portfolio</h2>

    {% for p in paint %}
    <div class="w3-third w3-container w3-margin-bottom">
      <a href="{% url 'product-detail' p.id %}">
      <img src="{{p.product_image.url}}" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>{{p.title}}</b></p>
        <p> {{p.description|truncatechars:80}}</p>
      </div>
    </a>
    </div>
    {% endfor %}
  
  </div>
  




  
  <h2>Museum Paintings</h2>

    {% for m in museum %}
    <div class="w3-third w3-container w3-margin-bottom">
      <a href="{% url 'product-detail' m.id %}">
      <img src="{{m.product_image.url}}" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>{{m.title}}</b></p>
        <p> {{m.description|truncatechars:80}}</p>
      </div>
    </a>
    </div>
    {% endfor %}
  
  </div>



 


  

</div>

<script>

function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
