<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Perfoming Arts</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'app/css/style1.css'%}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
</head>
<body>

  
  <div class="w3-top">
    <div class="w3-row w3-padding w3-black">
      <div class="w3-col s4">
        <a href="{% url 'home' %}" class="w3-button w3-block w3-black">HOME</a>
      </div>
      <div class="w3-col s4">
        <a href="{% url 'home' %}" class="w3-button w3-block w3-black">ABOUT</a>
      </div>
      <div class="w3-col s4">
        <a href="{% url 'home' %}" class="w3-button w3-block w3-black">MENU</a>
      </div>
      
    </div>
  </div>
  


<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


<div class="w3-main" >


  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo" style="text-align: center"><b>Perfoming Arts</b></h1>
 
  </div>
  
 





  <div class="w3-row-padding w3">

    {% for p in pa %}

    <a href="{% url 'pa-detail' p.id %}">

    <div class="w3-col m2 w3-margin-bottom">

      <div class="w3-light-grey">
        <img src="{{p.pa_image.url}}" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>{{p.title}}</e</h3>>
          <p>{{p.description|truncatechars:50}}</p>
        </div>
      </div>
    </div>
    
  </a>
    {% endfor %}
  
  </div>

  

  <div class="w3-row-padding">
   
        
   
  </div>
  
  







</div>

<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>

function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
